<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pytap.project.dao.RoleDao">

    <insert id="insertRole"  parameterType="com.pytap.project.entity.Role">
        INSERT INTO (
            name,
            description,
            create_time)
        VALUES (
            name = #{name},
            description = #{description},
            create_time = #{createTime})
    </insert>
    <update id="updateByRoleId" parameterType="com.pytap.project.entity.Role">
        UPDATE role SET name = #{name}, description = #{description}, create_time = #{createTime} WHERE id = #{id}
    </update>
    <delete id="deleteByRoleId" parameterType="long">
        DELETE FROM role WHERE id = #{id}
    </delete>
    <select id="getByRoleId" resultType="com.pytap.project.entity.Role">
        SELECT name, description, create_time FROM role WHERE id = #{id} LIMIT 1
    </select>
    <select id="listAllRoles" resultType="com.pytap.project.entity.Role">
        SELECT id, name, description, create_time FROM role
    </select>

</mapper>