<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pytap.project.dao.UserRoleDao">

    <insert id="insertUserRole">
        INSERT INTO user_role (user_id, role_id, create_time)
        VALUES (
            #{userId}, #{roleId}, #{createTime}
        )
    </insert>
    <update id="updateByUserRole">
        UPDATE user_role SET user_id = #{userId}, role_id = #{roleId}, create_time = #{createTime}
    </update>
    <delete id="deleteByUserRole">
        DELETE FROM user_role WHERE user_id = #{userId} AND role_id = #{roleId}
    </delete>
    <select id="getByUserRoleId" resultType="com.pytap.project.entity.UserRole">
        SELECT id, user_id, role_id, create_time FROM user_role WHERE id = #{id}
    </select>
    <select id="listAllUserRoles" resultType="com.pytap.project.entity.UserRole">
        SELECT id, user_id, role_id, create_time FROM user_role
    </select>
    <select id="countUserRole" resultType="java.lang.Integer">
        SELECT count(*) FROM user_role
    </select>
</mapper>